<?xml version="1.0" encoding="UTF-8"?>
<suite name="EVS Testing Suite" verbose="2" parallel="methods" thread-count="3">

    <listeners>
        <!-- Allure TestNG listener -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>

        <!-- Custom annotation processor -->
        <listener class-name="com.bft.test.annotations.AllureAnnotationProcessor"/>
    </listeners>

    <test name="UI Tests" group-by-instances="true">
        <groups>
            <run>
                <include name="web"/>
                <include name="smoke"/>
                <include name="regression"/>
            </run>
        </groups>

        <packages>
            <package name="com.bft.LK_Insurence"/>
            <package name="com.bft.test.examples"/>
        </packages>
    </test>

    <test name="API Tests" group-by-instances="true">
        <groups>
            <run>
                <include name="web"/>
                <include name="integration"/>
            </run>
        </groups>

        <packages>
            <package name="com.bft.api.tests"/>
        </packages>
    </test>

    <test name="Performance Tests" group-by-instances="true">
        <groups>
            <run>
                <include name="performance"/>
                <include name="load"/>
            </run>
        </groups>

        <packages>
            <package name="com.bft.performance.tests"/>
        </packages>
    </test>

</suite>